@import '~style/main';

.wrapper {
  background: $color-white;
  padding-top: 24px;
}

.container {
  @include container;
}

.heading {
  display: flex;
  flex-direction: column;
  padding: 16px;

  @include for-tablet-landscape-up {
    flex-direction: row;
    align-items: center;
    padding: 24px 32px;
  }
}

.headingText {
  font-size: 44px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 8px;

  @include for-tablet-landscape-up {
    margin-bottom: 0;
  }
}

.patternToggle {
  @include for-tablet-landscape-up {
    margin-left: auto;
  }
}

.chartGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.chartWrapper {
  width: 100%;

  @include for-tablet-portrait-up {
    width: calc(50% - 16px);
  }
}

.heroChartWrapper {
  width: 100%;
}

.iconWrapper {
  margin-right: 20px;
}
