@import '~style/variables';

.wrapper {
  padding: 50px 0 55px;
  background: $color-grey--800;
  color: $color-white;
}

.container {
  @include container;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-desktop-up {
    flex-direction: row;
    align-items: flex-start;
  }
}

.logosWrapper {
  display: flex;
  align-items: center;
  flex: none;
  margin-bottom: 50px;

  @include for-desktop-up {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.coaWrapper {
  margin-right: 18px;
}

.coaLogo {
  width: 140px;
  height: auto;
}

.logoDivider {
  width: 2px;
  height: 46px;
  margin-right: 32px;
  background: $color-grey--700;
}

.dtaLogo {
  width: 70px;
  height: auto;
}

.wordsWrapper {
  flex: auto;
}

.categoryDetailsWrapper {
  border-bottom: 1px solid $color-grey--700;
  margin-bottom: 20px;
}

.categoryTitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.subCategoryLinksWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 23px;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.subCategoryLink {
  margin-right: 32px;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $color-highlight;
  margin-bottom: 16px;

  @include for-tablet-portrait-up {
    margin-bottom: 0;
  }
}

.staticLinksWrapper {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $color-grey--700;
}

.staticLink {
  margin-right: 16px;
  font-size: 14px;
  text-decoration: underline;

  @include for-desktop-up {
    &:nth-of-type(2) {
      margin-right: 46px;
    }
  }
}

.copyright {
  font-size: 14px;
  line-height: 1.2;
}
