@import '~style/main';

.wrapper {
  padding: 50px 0 55px;
  background: $color-grey--800;
  color: $color-white;
}

.container {
  @include container;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-desktop-up {
    flex-direction: row;
    align-items: flex-start;
  }
}

.logosWrapper {
  display: flex;
  align-items: center;
  flex: none;
  margin-bottom: 50px;

  @include for-desktop-up {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.coaWrapper {
  margin-right: 18px;
}

.coaLogo {
  width: 120px;
  height: auto;
}

.logoDivider {
  width: 2px;
  height: 46px;
  margin-right: 32px;
  background: $color-grey--700;
}

.dtaLogo {
  width: 70px;
  height: auto;
}

.wordsWrapper {
  flex: auto;
}

.categoryDetailsWrapper {
  border-bottom: 1px solid $color-grey--700;
  margin-bottom: 22px;
  padding-bottom: 22px;
}

.categoryTitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.subCategoryLinksWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.subCategoryLink {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $color-highlight;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @include for-tablet-portrait-up {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.footerLinks {
  border-bottom: 1px solid $color-grey--700;
  font-size: 14px;
  margin-bottom: 22px;
  padding-bottom: 22px;

  a {
    text-decoration: underline;
  }
}

.footerLinksRow {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.staticLink {
  display: inline-block; // To make it wrap nicely (privacy policy was separating to two lines)
  margin-right: 16px;
}

.copyright {
  color: $color-grey--400;
  font-size: 14px;
  line-height: 1.2;
}
