@import '~style/variables';

.wrapper {
  display: flex;
  align-items: stretch;
  position: relative; // the P is absolute, relative to this

  &.wrapper__large {
    flex-direction: column;
  }
}

.header {
  flex: 1;

  .wrapper__small & {
    @include type-indicator-card-header--small;
  }

  .wrapper__large & {
    @include type-indicator-card-header--large;
  }
}

.indicatorTypeMark {
  position: absolute;
  top: 7px;
  right: 7px;
}

.indicatorWrapper {
  margin-left: auto; // push right
  align-self: flex-end; // push down
  line-height: 1;
}

.symbol {
  color: $color-grey--500;

  .wrapper__small & {
    @include type-indicator-card-symbol--small;
  }

  .wrapper__large & {
    @include type-indicator-card-symbol--large;
  }
}

.prefix {
  margin-right: 5px;
}

.number {
  .wrapper__small & {
    @include type-indicator-card-number--small;
  }

  .wrapper__large & {
    @include type-indicator-card-number--large;
  }
}

.suffix {
  margin-left: 5px;
}
