@import '~style/variables';

/**
  Indicator cards can:
   - be small or large. This class is applied to the wrapper.
   - show one number (for a city page) or two (for all cities). This class is applied to the wrapper
   - have a small, large, or 'only' number. This class is applied to the number wrapper
 */

.wrapper {
  display: flex;
  align-items: stretch;
  position: relative; // the P is absolute, relative to this

  &.largeCard {
    flex-direction: column;
  }
}

.header {
  flex: 1;

  .smallCard & {
    font-size: 12px;
    margin-right: 4px;
  }

  .largeCard & {
    font-size: 16px;
  }
}

.indicatorTypeMark {
  position: absolute;
  top: 7px;
  right: 7px;
}

.indicatorNumbers {
  margin-left: auto; // push right
  align-self: flex-end; // push down
  line-height: 1;
}

.indicatorNumberWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.minMaxIcon {
  margin-right: 4px;

  .smallCard .firstNumber & {
    width: 13px;
    height: 13px;
    margin-bottom: 4px;
  }

  .smallCard .secondNumber & {
    width: 8px;
    height: 8px;
    margin-bottom: 2px;
  }

  .largeCard .firstNumber & {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }

  .largeCard .secondNumber & {
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
  }
}

.firstNumber {
  margin-bottom: 3px;
}

.number {
  font-weight: 300;

  .smallCard.singleNumber .onlyNumber & {
    font-size: 44px;
  }

  .smallCard.dualNumber .firstNumber & {
    font-size: 30px;
  }

  .smallCard.dualNumber .secondNumber & {
    font-size: 12px;
    font-weight: 400;
  }

  .largeCard.singleNumber .onlyNumber & {
    font-size: 90px;
    font-weight: 200;
  }

  .largeCard.dualNumber .firstNumber & {
    font-size: 48px;
    font-weight: 200;
  }

  .largeCard.dualNumber .secondNumber & {
    font-size: 24px;
  }
}

.symbol {
  font-weight: 300;

  .smallCard.singleNumber .onlyNumber & {
    font-size: 24px;
    margin-bottom: 2px;
  }

  .smallCard.dualNumber .firstNumber & {
    font-size: 18px;
  }

  .smallCard.dualNumber .secondNumber & {
    font-size: 12px;
  }

  .largeCard.singleNumber .onlyNumber & {
    font-size: 44px;
    margin-bottom: 4px;
  }

  .largeCard.dualNumber .firstNumber & {
    font-size: 24px;
  }

  .largeCard.dualNumber .secondNumber & {
    font-size: 18px;
  }
}

.prefix {
  margin-right: 1px;
}

.suffix {
  margin-left: 1px;
}
