@import '~style/variables';

.wrapper {
  width: $app_header_height_mobile;
  height: $app_header_height_mobile;
  background: $color-primary--600;
  border: none;
  border-radius: 0;
}

.icon {
  display: flex;
  flex-direction: column;
}

.bar {
  background: white;
  height: 4px;
  border-radius: 2px;
  margin: 3px;
}
