@import '~style/variables';

.wrapper {
  padding-top: 16px;
  padding-bottom: 16px;

  @include for-tablet-landscape-up {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.container {
  @include container;

  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.6px;

  @include for-tablet-portrait-up {
    align-items: flex-end;
  }

  @include for-desktop-up {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.icon {
  margin-right: 5px;
}

.text {
  vertical-align: middle;
}

.indicatorTypesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @include for-tablet-portrait-up {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.indicatorTypeWrapper {
  margin-bottom: 16px;

  @include for-tablet-portrait-up {
    &:first-child {
      margin-right: 24px;
    }
  }

  @include for-desktop-up {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.spacer {
  display: none;

  @include for-desktop-up {
    display: block;
    width: 2px;
    height: 24px;
    margin-right: 24px;
  }
}

.rangeWrapper {
  display: flex;
  flex-direction: column;
  align-items: column;

  @include for-tablet-portrait-up {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.rangeIconsWrapper {
  display: flex;
  justify-content: center;
}

.rangeText {
  margin-bottom: 16px;

  @include for-tablet-portrait-up {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

.rangeIconWrapper {
  &:first-of-type {
    margin-right: 24px;
  }
}
