@import '~style/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.iconWrapper {
  border: 1px solid $color-white;
  width: 60px;
  height: 60px;
}

.text {
  margin-top: auto; // push to bottom
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}
