@import '~style/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.iconWrapper {
  border: 1px solid $color-white;
  width: 60px;
  height: 60px;
}

.text {
  @include type-indicator-card-title--large;

  margin-top: auto; // push to bottom
}
