@import '~style/variables';

.pageWrapper {
  padding: 25px 25px 200px;
  background: $color-white;
}

.colorsWrapper {
  margin-bottom: 100px;
}

.sectionText {
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;

  @include for-tablet-portrait-up {
    font-size: 36px;
  }

  @include for-tablet-landscape-up {
    font-size: 44px;
  }
}

.subSectionText {
  font-size: 36px;
  font-weight: 300;
}

.iconsWrapper {
  margin-bottom: 64px;
}

.iconWrapper {
  @include shadow;

  display: inline-block;
  padding: 16px 0;
  margin: 0 16px 16px 0;
  width: 200px;
  text-align: center;
  border-radius: 4px;
  color: $color-primary--500;
}

.code {
  padding-top: 16px;
  font-size: 12px;
  color: $color-grey--700;
}

.color-jobs--020 { background: $color-jobs--020; }
.color-jobs--040 { background: $color-jobs--040; }
.color-jobs--060 { background: $color-jobs--060; }
.color-jobs--080 { background: $color-jobs--080; }
.color-jobs--100 { background: $color-jobs--100; }
.color-jobs--500 { background: $color-jobs--500; }
.color-jobs--600 { background: $color-jobs--600; }
.color-jobs--700 { background: $color-jobs--700; }
.color-jobs--800 { background: $color-jobs--800; }
.color-jobs--900 { background: $color-jobs--900; }

.color-housing--020 { background: $color-housing--020; }
.color-housing--040 { background: $color-housing--040; }
.color-housing--060 { background: $color-housing--060; }
.color-housing--080 { background: $color-housing--080; }
.color-housing--100 { background: $color-housing--100; }
.color-housing--500 { background: $color-housing--500; }
.color-housing--600 { background: $color-housing--600; }
.color-housing--700 { background: $color-housing--700; }
.color-housing--800 { background: $color-housing--800; }
.color-housing--900 { background: $color-housing--900; }

.color-infrastructure--020 { background: $color-infrastructure--020; }
.color-infrastructure--040 { background: $color-infrastructure--040; }
.color-infrastructure--060 { background: $color-infrastructure--060; }
.color-infrastructure--080 { background: $color-infrastructure--080; }
.color-infrastructure--100 { background: $color-infrastructure--100; }
.color-infrastructure--500 { background: $color-infrastructure--500; }
.color-infrastructure--600 { background: $color-infrastructure--600; }
.color-infrastructure--700 { background: $color-infrastructure--700; }
.color-infrastructure--800 { background: $color-infrastructure--800; }
.color-infrastructure--900 { background: $color-infrastructure--900; }

.color-liveability--020 { background: $color-liveability--020; }
.color-liveability--040 { background: $color-liveability--040; }
.color-liveability--060 { background: $color-liveability--060; }
.color-liveability--080 { background: $color-liveability--080; }
.color-liveability--100 { background: $color-liveability--100; }
.color-liveability--500 { background: $color-liveability--500; }
.color-liveability--600 { background: $color-liveability--600; }
.color-liveability--700 { background: $color-liveability--700; }
.color-liveability--800 { background: $color-liveability--800; }
.color-liveability--900 { background: $color-liveability--900; }

.color-innovation--020 { background: $color-innovation--020; }
.color-innovation--040 { background: $color-innovation--040; }
.color-innovation--060 { background: $color-innovation--060; }
.color-innovation--080 { background: $color-innovation--080; }
.color-innovation--100 { background: $color-innovation--100; }
.color-innovation--500 { background: $color-innovation--500; }
.color-innovation--600 { background: $color-innovation--600; }
.color-innovation--700 { background: $color-innovation--700; }
.color-innovation--800 { background: $color-innovation--800; }
.color-innovation--900 { background: $color-innovation--900; }

.color-planning--020 { background: $color-planning--020; }
.color-planning--040 { background: $color-planning--040; }
.color-planning--060 { background: $color-planning--060; }
.color-planning--080 { background: $color-planning--080; }
.color-planning--100 { background: $color-planning--100; }
.color-planning--500 { background: $color-planning--500; }
.color-planning--600 { background: $color-planning--600; }
.color-planning--700 { background: $color-planning--700; }
.color-planning--800 { background: $color-planning--800; }
.color-planning--900 { background: $color-planning--900; }

.color-primary--020 { background: $color-primary--020; }
.color-primary--040 { background: $color-primary--040; }
.color-primary--060 { background: $color-primary--060; }
.color-primary--080 { background: $color-primary--080; }
.color-primary--500 { background: $color-primary--500; }
.color-primary--600 { background: $color-primary--600; }
.color-primary--700 { background: $color-primary--700; }
.color-primary--800 { background: $color-primary--800; }
.color-primary--900 { background: $color-primary--900; }

.color-white { background: $color-white; }
.color-grid { background: $color-grid; }
.color-grey--100 { background: $color-grey--100; }
.color-grey--200 { background: $color-grey--200; }
.color-grey--500 { background: $color-grey--500; }
.color-grey--700 { background: $color-grey--700; }
.color-grey--800 { background: $color-grey--800; }
.color-black { background: $color-black; }
.color-badge { background: $color-badge; }
.color-highlight { background: $color-highlight; }
.color-blue { background: $color-blue; }
