@import '~style/variables';

.card {
  @include shadow;

  background: $color-white;
  border-bottom-style: solid;
  border-radius: 4px;
}

.card__small {
  height: 80px;
  padding: 4px 8px 7px;
  border-bottom-width: 6px;
}

.card__large {
  height: 160px;
  padding: 4px 9px 13px;
  border-bottom-width: 8px;
}

.card__category {
  color: $color-white;
}
