@import '~style/variables';

.card {
  background: $color-white;
  border-bottom-style: solid;
  border-radius: 4px;
}

.card__small {
  height: 80px;
  padding: 4px 8px;
  border-bottom-width: 6px;
}

.card__large {
  height: 160px;
  padding: 8px 16px;
  border-bottom-width: 8px;
}

.card__category {
  color: $color-white;
}

.card__primary_color {
  // note, for primary the bottom border is the ---100 variant
  // all others are --400
  border-bottom-color: $color-primary--100;

  &.card__category {
    background: $color-primary--700;
  }
}

.card__jobs_color {
  border-bottom-color: $color-jobs--400;

  &.card__category {
    background: $color-jobs--700;
  }
}

.card__housing_color {
  border-bottom-color: $color-housing--400;

  &.card__category {
    background: $color-housing--700;
  }
}

.card__infrastructure_color {
  border-bottom-color: $color-infrastructure--400;

  &.card__category {
    background: $color-infrastructure--700;
  }
}

.card__liveability_color {
  border-bottom-color: $color-liveability--400;

  &.card__category {
    background: $color-liveability--700;
  }
}

.card__innovation_color {
  border-bottom-color: $color-innovation--400;

  &.card__category {
    background: $color-innovation--700;
  }
}

.card__planning_color {
  border-bottom-color: $color-planning--400;

  &.card__category {
    background: $color-planning--700;
  }
}

.card__extra_color {
  border-bottom-color: $color-extra--400;

  &.card__category {
    background: $color-extra--700;
  }
}
