@import '~style/variables';

header {
  background: $color-primary--600;
  color: $color-white;

  a {
    text-decoration: underline;
    text-decoration-color: $color-highlight;
  }
}

// this is the minor header on desktop size
// and the only header on mobile/tablet
.govContainer {
  @include shadow;

  position: relative;
  z-index: $z-index-header;
  display: flex;
  height: $main-header-height-mobile;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;

  @include for-desktop-up {
    box-shadow: none;
    padding-left: 30px;
    height: $gov-header-height;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background: $color-primary--500;

    > * {
      margin-right: 8px;
    }
  }
}

.compactTitle,
.compactSubtitle {
  @include for-desktop-up {
    display: none;
  }
}

.govAu,
.govWebsite {
  display: none;

  @include for-desktop-up {
    display: inline;
  }
}

.govAu {
  font-size: 14px;
}

.govWebsite {
  font-size: 12px;
}

.mainContainer {
  display: none;

  @include for-desktop-up {
    @include shadow;

    position: relative;
    z-index: $z-index-header;
    display: flex;
    width: 100%;
    height: $main-header-height-desktop;
    justify-content: space-between;
  }
}

.titleContainer,
.orgContainer {
  padding: 0 32px;
  display: inline-flex;
  flex-direction: column;
}

.star {
  height: 22px;
  width: 22px;
  max-width: 22px;
  flex: 0 0 100%;
  margin-right: 5px;

  @include for-desktop-up {
    height: 18px;
    width: 18px;
    flex: 0 1 auto;
  }
}

.hamburger {
  margin-right: 14px;

  @include for-desktop-up {
    display: none;
  }
}

.projectStatus {
  margin-top: 24px;
  background: $color-badge;
  align-self: flex-start;
  font-weight: 500;
}

.title {
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  margin-top: 10px;
}

.compactTitle {
  font-size: 14px;
  flex: 0 0 16px;
}

.subtitle {
  font-size: 12px;
  text-transform: uppercase;
}

.compactSubtitle {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  flex: 0 0 14px;
}

.orgLink {
  margin-top: 14px;
}

.orgLogo {
  height: 65px;
  width: 102px;
}

.contactLink {
  font-size: 22px;
  font-weight: 300;
}
