$color-primary--050: #e8f1f4;
$color-primary--100: #d1e4e9;
$color-primary--400: #4994a7;
$color-primary--500: #32869c;
$color-primary--600: #115361;
$color-primary--700: #003a45;

$color-jobs--050: #f4f5fb;
$color-jobs--100: #e8ebf6;
$color-jobs--400: #8793c6;
$color-jobs--500: #5872dd;
$color-jobs--600: #6473b2;
$color-jobs--700: #415195;

$color-housing--050: #f8f6f5;
$color-housing--100: #f0ece9;
$color-housing--400: #ad8b81;
$color-housing--500: #c07a62;
$color-housing--600: #8c6a5e;
$color-housing--700: #704d41;

$color-infrastructure--050: #fbf2f0;
$color-infrastructure--100: #f8e4e0;
$color-infrastructure--400: #e86f61;
$color-infrastructure--500: #e9402c;
$color-infrastructure--600: #d14d3d;
$color-infrastructure--700: #a12e20;

$color-liveability--050: #f0f6f4;
$color-liveability--100: #e2eee6;
$color-liveability--400: #61a183;
$color-liveability--500: #26ae6e;
$color-liveability--600: #2b865b;
$color-liveability--700: #186641;

$color-innovation--050: #f9f3f6;
$color-innovation--100: #f3e5ef;
$color-innovation--400: #cd79a1;
$color-innovation--500: #d9467c;
$color-innovation--600: #ba5284;
$color-innovation--700: #952e60;

$color-planning--050: #f7f4f6;
$color-planning--100: #ede7ef;
$color-planning--400: #9e85a7;
$color-planning--500: #a75ec3;
$color-planning--600: #8e61a0;
$color-planning--700: #6e3b87;

$color-extra--050: #eef6f8;
$color-extra--100: #dceeee;
$color-extra--400: #3fa3a8;
$color-extra--500: #34c3ca;
$color-extra--600: #26888d;
$color-extra--700: #005f64;

$color-white: #fff;
$color-grey--500: #9b9b9b;
$color-grey--700: #4a4a4a;
$color-black: #000;

$color-highlight: #00bfe9;
$color-badge: #f69900;
