$color-primary--020: #313130;
$color-primary--040: #252525;
$color-primary--060: #1b1b1b;
$color-primary--080: #313130;
$color-primary--500: #252525;
$color-primary--600: #141414;
$color-primary--700: #141414;
$color-primary--800: #0b0b0b;
$color-primary--900: #0b0b0b;

$color-overview--020: #313130;
$color-overview--080: #252525;
$color-overview--500: #1b1b1b;
$color-overview--600: #2b7588;
$color-overview--700: #256778;
$color-overview--800: #205a69;
$color-overview--900: #1a4854;

$color-jobs--020: #313130;
$color-jobs--040: #252525;
$color-jobs--060: #1b1b1b;
$color-jobs--080: #1b1b1b;
$color-jobs--100: #1b1b1b;
$color-jobs--500: #3f51b5;
$color-jobs--600: #3949ab;
$color-jobs--700: #303f9f;
$color-jobs--800: #283693;
$color-jobs--900: #1a237e;

$color-housing--020: #313130;
$color-housing--040: #252525;
$color-housing--060: #1b1b1b;
$color-housing--080: #1b1b1b;
$color-housing--100: #1b1b1b;
$color-housing--500: #f29802;
$color-housing--600: #f18c05;
$color-housing--700: #f17c02;
$color-housing--800: #ef6c01;
$color-housing--900: #e65200;

$color-infrastructure--020: #313130;
$color-infrastructure--040: #252525;
$color-infrastructure--060: #1b1b1b;
$color-infrastructure--080: #1b1b1b;
$color-infrastructure--100: #1b1b1b;
$color-infrastructure--500: #4fa8f4;
$color-infrastructure--600: #009be3;
$color-infrastructure--700: #4087d0;
$color-infrastructure--800: #3977bd;
$color-infrastructure--900: #2b579b;

$color-liveability--020: #313130;
$color-liveability--040: #252525;
$color-liveability--060: #1b1b1b;
$color-liveability--080: #1b1b1b;
$color-liveability--100: #1b1b1b;
$color-liveability--500: #399588;
$color-liveability--600: #34887b;
$color-liveability--700: #2d796b;
$color-liveability--800: #26695c;
$color-liveability--900: #194d40;

$color-innovation--020: #313130;
$color-innovation--040: #252525;
$color-innovation--060: #1b1b1b;
$color-innovation--080: #1b1b1b;
$color-innovation--100: #1b1b1b;
$color-innovation--500: #e91e64;
$color-innovation--600: #d81b60;
$color-innovation--700: #c2185b;
$color-innovation--800: #ac1457;
$color-innovation--900: #880e4f;

$color-planning--020: #313130;
$color-planning--040: #252525;
$color-planning--060: #1b1b1b;
$color-planning--080: #1b1b1b;
$color-planning--100: #1b1b1b;
$color-planning--500: #9c27af;
$color-planning--600: #8d24aa;
$color-planning--700: #7b20a2;
$color-planning--800: #6a1c9a;
$color-planning--900: #4a158b;

$color-white: #fff;
$color-grid: rgba(202, 200, 202, 0.25); // highcharts can't set opacity on a line, so we need rgba()
$color-grey--100: #f6f4f4;
$color-grey--200: #d9d7d7;
$color-grey--500: #9b9b9b;
$color-grey--700: #4a4a4a;
$color-grey--800: #363636;
$color-black: #000;
$color-badge: #f69900;
$color-highlight: #00c3ef;
$color-blue: #3d76b7;

// export these colours to make them available in javascript
// this is CSS module syntax so we disable a few rules

/* stylelint-disable property-no-unknown, property-case, declaration-empty-line-before */
:export {
  // note that these CONTEXT colours use the 'overview' variables
  CONTEXT_020: $color-overview--020;
  CONTEXT_080: $color-overview--080;
  CONTEXT_500: $color-overview--500;
  CONTEXT_600: $color-overview--600;
  CONTEXT_700: $color-overview--700;
  CONTEXT_800: $color-overview--800;
  CONTEXT_900: $color-overview--900;

  OVERVIEW_020: $color-overview--020;
  OVERVIEW_080: $color-overview--080;
  OVERVIEW_500: $color-overview--500;
  OVERVIEW_900: $color-overview--900;

  PRIMARY_020: $color-primary--020;
  PRIMARY_040: $color-primary--040;
  PRIMARY_060: $color-primary--060;
  PRIMARY_080: $color-primary--080;
  PRIMARY_500: $color-primary--500;
  PRIMARY_600: $color-primary--600;
  PRIMARY_700: $color-primary--700;
  PRIMARY_800: $color-primary--800;
  PRIMARY_900: $color-primary--900;

  JOBS_020: $color-jobs--020;
  JOBS_040: $color-jobs--040;
  JOBS_060: $color-jobs--060;
  JOBS_080: $color-jobs--080;
  JOBS_100: $color-jobs--100;
  JOBS_500: $color-jobs--500;
  JOBS_600: $color-jobs--600;
  JOBS_700: $color-jobs--700;
  JOBS_800: $color-jobs--800;
  JOBS_900: $color-jobs--900;

  HOUSING_020: $color-housing--020;
  HOUSING_040: $color-housing--040;
  HOUSING_060: $color-housing--060;
  HOUSING_080: $color-housing--080;
  HOUSING_100: $color-housing--100;
  HOUSING_500: $color-housing--500;
  HOUSING_600: $color-housing--600;
  HOUSING_700: $color-housing--700;
  HOUSING_800: $color-housing--800;
  HOUSING_900: $color-housing--900;

  INFRASTRUCTURE_020: $color-infrastructure--020;
  INFRASTRUCTURE_040: $color-infrastructure--040;
  INFRASTRUCTURE_060: $color-infrastructure--060;
  INFRASTRUCTURE_080: $color-infrastructure--080;
  INFRASTRUCTURE_100: $color-infrastructure--100;
  INFRASTRUCTURE_500: $color-infrastructure--500;
  INFRASTRUCTURE_600: $color-infrastructure--600;
  INFRASTRUCTURE_700: $color-infrastructure--700;
  INFRASTRUCTURE_800: $color-infrastructure--800;
  INFRASTRUCTURE_900: $color-infrastructure--900;

  LIVEABILITY_020: $color-liveability--020;
  LIVEABILITY_040: $color-liveability--040;
  LIVEABILITY_060: $color-liveability--060;
  LIVEABILITY_080: $color-liveability--080;
  LIVEABILITY_100: $color-liveability--100;
  LIVEABILITY_500: $color-liveability--500;
  LIVEABILITY_600: $color-liveability--600;
  LIVEABILITY_700: $color-liveability--700;
  LIVEABILITY_800: $color-liveability--800;
  LIVEABILITY_900: $color-liveability--900;

  INNOVATION_020: $color-innovation--020;
  INNOVATION_040: $color-innovation--040;
  INNOVATION_060: $color-innovation--060;
  INNOVATION_080: $color-innovation--080;
  INNOVATION_100: $color-innovation--100;
  INNOVATION_500: $color-innovation--500;
  INNOVATION_600: $color-innovation--600;
  INNOVATION_700: $color-innovation--700;
  INNOVATION_800: $color-innovation--800;
  INNOVATION_900: $color-innovation--900;

  PLANNING_020: $color-planning--020;
  PLANNING_040: $color-planning--040;
  PLANNING_060: $color-planning--060;
  PLANNING_080: $color-planning--080;
  PLANNING_100: $color-planning--100;
  PLANNING_500: $color-planning--500;
  PLANNING_600: $color-planning--600;
  PLANNING_700: $color-planning--700;
  PLANNING_800: $color-planning--800;
  PLANNING_900: $color-planning--900;

  GREY_200: $color-grey--200;
  GREY_500: $color-grey--200;
  GREY_700: $color-grey--700;
  WHITE: $color-white;
  GRID: $color-grid;
}

/* stylelint-enable */
