$color-primary--050: #e8f1f4;
$color-primary--100: #d1e4e9;
$color-primary--400: #4994a7;
$color-primary--500: #32869c;
$color-primary--600: #115361;
$color-primary--700: #003a45;

$color-jobs--050: #f4f5fb;
$color-jobs--100: #e8ebf6;
$color-jobs--400: #8793c6;
$color-jobs--500: #5872dd;
$color-jobs--600: #6473b2;
$color-jobs--700: #415195;

$color-housing--050: #f8f6f5;
$color-housing--100: #f0ece9;
$color-housing--400: #ad8b81;
$color-housing--500: #c07a62;
$color-housing--600: #8c6a5e;
$color-housing--700: #704d41;

$color-infrastructure--050: #fbf2f0;
$color-infrastructure--100: #f8e4e0;
$color-infrastructure--400: #e86f61;
$color-infrastructure--500: #e9402c;
$color-infrastructure--600: #d14d3d;
$color-infrastructure--700: #a12e20;

$color-liveability--050: #f0f6f4;
$color-liveability--100: #e2eee6;
$color-liveability--400: #61a183;
$color-liveability--500: #26ae6e;
$color-liveability--600: #2b865b;
$color-liveability--700: #186641;

$color-innovation--050: #f9f3f6;
$color-innovation--100: #f3e5ef;
$color-innovation--400: #cd79a1;
$color-innovation--500: #d9467c;
$color-innovation--600: #ba5284;
$color-innovation--700: #952e60;

$color-planning--050: #f7f4f6;
$color-planning--100: #ede7ef;
$color-planning--400: #9e85a7;
$color-planning--500: #a75ec3;
$color-planning--600: #8e61a0;
$color-planning--700: #6e3b87;

$color-extra--050: #eef6f8;
$color-extra--100: #dceeee;
$color-extra--400: #3fa3a8;
$color-extra--500: #34c3ca;
$color-extra--600: #26888d;
$color-extra--700: #005f64;

$color-white: #fff;
$color-grid: rgba(202, 200, 202, 0.25); // highcharts can't set opacity on a line, so we need rgba()
$color-grey--500: #9b9b9b;
$color-grey--700: #4a4a4a;
$color-black: #000;

$color-highlight: #00bfe9;
$color-badge: #f69900;

// export these colours to make them available in javascript
// this is CSS module syntax so we disable a few rules

/* stylelint-disable property-no-unknown, property-case, declaration-empty-line-before */
:export {
  PRIMARY_050: $color-primary--050;
  PRIMARY_100: $color-primary--100;
  PRIMARY_400: $color-primary--400;
  PRIMARY_500: $color-primary--500;
  PRIMARY_600: $color-primary--600;
  PRIMARY_700: $color-primary--700;

  JOBS_050: $color-jobs--050;
  JOBS_100: $color-jobs--100;
  JOBS_400: $color-jobs--400;
  JOBS_500: $color-jobs--500;
  JOBS_600: $color-jobs--600;
  JOBS_700: $color-jobs--700;

  HOUSING_050: $color-housing--050;
  HOUSING_100: $color-housing--100;
  HOUSING_400: $color-housing--400;
  HOUSING_500: $color-housing--500;
  HOUSING_600: $color-housing--600;
  HOUSING_700: $color-housing--700;

  INFRASTRUCTURE_050: $color-infrastructure--050;
  INFRASTRUCTURE_100: $color-infrastructure--100;
  INFRASTRUCTURE_400: $color-infrastructure--400;
  INFRASTRUCTURE_500: $color-infrastructure--500;
  INFRASTRUCTURE_600: $color-infrastructure--600;
  INFRASTRUCTURE_700: $color-infrastructure--700;

  LIVEABILITY_050: $color-liveability--050;
  LIVEABILITY_100: $color-liveability--100;
  LIVEABILITY_400: $color-liveability--400;
  LIVEABILITY_500: $color-liveability--500;
  LIVEABILITY_600: $color-liveability--600;
  LIVEABILITY_700: $color-liveability--700;

  INNOVATION_050: $color-innovation--050;
  INNOVATION_100: $color-innovation--100;
  INNOVATION_400: $color-innovation--400;
  INNOVATION_500: $color-innovation--500;
  INNOVATION_600: $color-innovation--600;
  INNOVATION_700: $color-innovation--700;

  PLANNING_050: $color-planning--050;
  PLANNING_100: $color-planning--100;
  PLANNING_400: $color-planning--400;
  PLANNING_500: $color-planning--500;
  PLANNING_600: $color-planning--600;
  PLANNING_700: $color-planning--700;

  EXTRA_050: $color-extra--050;
  EXTRA_100: $color-extra--100;
  EXTRA_400: $color-extra--400;
  EXTRA_500: $color-extra--500;
  EXTRA_600: $color-extra--600;
  EXTRA_700: $color-extra--700;

  WHITE: $color-white;
  GRID: $color-grid;
  GREY_500: $color-grey--500;
  GREY_700: $color-grey--700;
  BLACK: $color-black;
  HIGHLIGHT: $color-highlight;
  BADGE: $color-badge;
}

/* stylelint-enable */
