$animation-duration: 250ms;

$z-index-cat-nav: 1; // the top nav must be above the hero image on the overview page
$z-index-header: 2; // so the shadow is above the panel below
$z-index-left-nav: 3; // must be on top when it opens on mobile
$z-index-feedback-button: 4;
$z-index-tooltip: 5;

@mixin shadow($elevation: 1) {
  @if $elevation == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @if $elevation == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @if $elevation == 3 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

// used primarily for hiding a11y text,
// which should still be read by screen readers
@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
