$animation-duration: 250ms;

$z-index-cat-nav: 1; // the top nav must be above the hero image on the overview page
$z-index-header: 2; // so the shadow is above the panel below
$z-index-left-nav: 3; // must be on top when it opens on mobile

@mixin shadow($elevation: 1) {
  @if $elevation == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow $animation-duration;
  }

  @if $elevation == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow $animation-duration;
  }

  @if $elevation == 3 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: box-shadow $animation-duration;
  }
}
