@import '~style/variables';

.wrapper {
  border: 1px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar_width;
  bottom: 0;
  background: $color-primary--400;
}

.showOpen {
  transform: translateX(0);
}

.button {
  color: red;
}
