@import '~style/variables';

.wrapper {
  padding-top: 16px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.stacked {
  .titleWrapper {
    margin-bottom: 0;
  }
}

.title {
  font-size: 22px;
  font-weight: 300;
  margin: 0 7px 11px 0;

  @include for-tablet-landscape-up {
    font-size: 24px;
  }
}

.metaWrapper {
  font-size: 12px;
}

.indicatorTypeMark {
  margin: -3px 8px 0 0;
}

.legendWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.descriptionLabel {
  display: none;

  @include for-phone-only {
    display: block;
    font-size: 12px;
  }
}

.chartWrapper {
  min-height: 400px; // so when the charts are loading it doesn't collapse

  @include for-tablet-landscape-up {
    min-height: 500px;
    margin-top: 24px;
  }
}

.aboutChartIcon {
  margin-top: 3px;
}

:global(.cityColumnChartTooltipHeader) {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 500;
}

:global(.cityColumnChartTooltipRow) {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }
}

:global(.cityColumnChartTooltipDot) {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

:global(.cityColumnChartTooltipValue) {
  font-weight: 700;
}
