@import '~style/variables';

.wrapper {
  padding: 16px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  line-height: 1;

  @include for-tablet-landscape-up {
    margin-bottom: 24px;
  }
}

.stacked {
  .titleWrapper {
    margin-bottom: 0;
  }
}

.title {
  font-size: 22px;
  font-weight: 400;
  margin-right: 7px;

  @include for-tablet-landscape-up {
    font-size: 24px;
  }
}

.legendWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.descriptionLabel {
  display: none;

  @include for-phone-only {
    display: block;

    @include type-detail-text;
  }
}

.aboutChartIcon {
  margin-top: 3px;
}

:global(.cityColumnChartTooltipHeader) {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  font-size: 10px;

  @include for-tablet-portrait-up {
    font-size: 12px;
  }
}

:global(.cityColumnChartTooltipRow) {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 10px;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  @include for-tablet-portrait-up {
    font-size: 12px;
  }
}

:global(.cityColumnChartTooltipDot) {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

:global(.cityColumnChartTooltipValue) {
  font-weight: 700;
}
