@import '~style/variables';

.legendItem {
  margin-left: 24px;
}

.legendItemMarker {
  display: inline-block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  vertical-align: -2px;
}

.legendItemText {
  font-size: 12px;
  font-weight: 500;
}
