@import '~style/main';

.pageWrapper {
  @include for-desktop-up {
    padding-left: $sidebar-width;
    position: relative;
  }
}

.main {
  min-height: 100vh; // stop the footer creeping up the page
}
