@import '~style/variables';

.container {
  @include container;

  padding-top: 16px;

  @include for-tablet-portrait-up {
    padding-top: 40px;
  }
}

.textAndIndicator {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include for-tablet-portrait-up {
    flex-direction: row;
    margin-bottom: 32px;
  }
}

.titleText {
  margin-bottom: 32px;

  @include for-tablet-portrait-up {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.title {
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;

  @include for-tablet-portrait-up {
    font-size: 36px;
  }

  @include for-tablet-landscape-up {
    font-size: 44px;
  }
}

.description {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;

  @include for-tablet-landscape-up {
    font-size: 22px;
    font-weight: 300;
  }
}

.card {
  width: 100%;

  @include for-tablet-portrait-up {
    flex: none;
    width: 256px;
    margin-left: auto; // push to the right
  }
}

.indicatorTypeMarkWrapper {
  display: flex;
  align-items: center;
}

.indicatorTypeMark {
  margin-right: 8px;
}
