@import '~style/variables';

// note that color, background and border are set in JS
.performanceMark {
  border-radius: 100%;
  text-align: center;
  font-weight: 700;
  border: 1px solid transparent;
}

.performanceMarkSmall {
  width: 14px;
  height: 14px;
  line-height: 13px;
  font-size: 10px;
  text-indent: 1px;
}

.performanceMarkLarge {
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 13px;
}
