@import '~style/helper';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-width: $app_min_width;
  overflow-x: hidden; // if a chart goes too wide, don't break the whole page
}
