@import 'normalize';
@import 'globalStyles';
@import '../../../../uiKit/sass/uiKit';
@import '~style/helper';

.body {
  border: 2px solid red;
  padding-left: $sidebar_width;
}

.main {
  min-height: 100vh; // stop the footer creeping up the page
}
