@import '~style/variables';

.iconAndCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.categoryIcon {
  display: none;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-right: 16px;
  border-radius: 100%;
  border: 2px dashed currentColor;

  @include for-tablet-portrait-up {
    display: flex;
  }

  @include for-desktop-up {
    display: none;
  }

  @include for-big-desktop-up {
    display: flex;
  }
}

.categoryName {
  font-size: 20px;
  margin-right: 16px;
  margin-bottom: 16px;
  flex: auto;
  align-self: flex-start;

  @include for-tablet-portrait-up {
    font-size: 16px;
    align-self: auto;
    margin-bottom: 0;
  }

  @include for-desktop-up {
    font-size: 18px;
  }
}

.card {
  align-self: stretch;

  @include for-tablet-portrait-up {
    align-self: auto;
    flex: none;
    width: 250px;
  }

  @include for-tablet-landscape-up {
    width: 190px;
  }

  @include for-desktop-up {
    width: 250px;
  }
}

.viewLink {
  float: right;
  font-size: 12px;
  font-weight: 700;
}

.viewIcon {
  // TODO (davidg): icon and combine all icons
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-left: 9px;
  vertical-align: -5px;
}
